In [4]:
import numpy as np

In [6]:
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
df=pd.read_excel('tgc_list.xls','Sheet1')

In [10]:
df.describe()

          Ser No  Remarks
count  723.00000      0.0
mean   362.00000      NaN
std    208.85641      NaN
min      1.00000      NaN
25%    181.50000      NaN
50%    362.00000      NaN
75%    542.50000      NaN
max    723.00000      NaN

In [11]:
df.head()

,Ser No,RollNo,CandidateName,Reporting Date,EmailId,Remarks
0,1,TGC-125/100018,PARAMVEER SINGH,03-03-2017,paramveersinghkalsi@gmail.com,NaN
1,2,TGC-125/100045,AMANPREET SINGH BRAR,03-03-2017,amanbkrk@gmail.com,NaN
2,3,TGC-125/100119,GAURAV VIKRAM SINGH,03-03-2017,gvs2137@gmail.com,NaN
3,4,TGC-125/100120,TARUN KAUSHIK,03-03-2017,tarunkaushik1302@gmail.com,NaN
4,5,TGC-125/100127,GURJEET SINGH RANA,03-03-2017,gururana1994@gmail.com,NaN

In [12]:
df[0:6]

,Ser No,RollNo,CandidateName,Reporting Date,EmailId,Remarks
0,1,TGC-125/100018,PARAMVEER SINGH,03-03-2017,paramveersinghkalsi@gmail.com,NaN
1,2,TGC-125/100045,AMANPREET SINGH BRAR,03-03-2017,amanbkrk@gmail.com,NaN
2,3,TGC-125/100119,GAURAV VIKRAM SINGH,03-03-2017,gvs2137@gmail.com,NaN
3,4,TGC-125/100120,TARUN KAUSHIK,03-03-2017,tarunkaushik1302@gmail.com,NaN
4,5,TGC-125/100127,GURJEET SINGH RANA,03-03-2017,gururana1994@gmail.com,NaN
5,6,TGC-125/100158,BIJENDER KUMAR,03-03-2017,BIJENDER23DHANKHAR@GMAIL.COM,NaN

In [13]:
df.columns

Index([u'Ser No', u'RollNo', u'CandidateName', u'Reporting Date', u'EmailId',
       u'Remarks'],
      dtype='object')

In [14]:
df.loc[0]

Ser No                                        1
RollNo                           TGC-125/100018
CandidateName                   PARAMVEER SINGH
Reporting Date                       03-03-2017
EmailId           paramveersinghkalsi@gmail.com
Remarks                                     NaN
Name: 0, dtype: object

In [15]:
df.columns[1]

u'RollNo'

In [19]:
rollno=df['RollNo']
type(rollno)

pandas.core.series.Series

In [18]:
rollno.head()

0    TGC-125/100018
1    TGC-125/100045
2    TGC-125/100119
3    TGC-125/100120
4    TGC-125/100127
Name: RollNo, dtype: object

In [20]:
rollno[3]

u'TGC-125/100120'

In [28]:
names=df.CandidateName
rep_date=df['Reporting Date']

In [29]:
rep_date.value_counts()

03-03-2017    723
Name: Reporting Date, dtype: int64

In [30]:
names.value_counts()

AMIT KUMAR                   7
SANDEEP KUMAR                7
RAVINDER SINGH               5
GURPREET SINGH               4
SANJEEV KUMAR                4
GAGANDEEP SINGH              3
NAVEEN KUMAR                 3
MOHIT KUMAR                  3
VIKAS                        3
MOHIT                        3
PARVEEN KUMAR                2
GURMEET SINGH                2
SHAMSHER SINGH               2
VISHAL                       2
GURWINDER SINGH              2
ABHISHEK KUMAR               2
RAJESH KUMAR                 2
AKSHAY KUMAR                 2
KRISHAN KUMAR                2
SAHIL SHARMA                 2
MANDEEP SINGH                2
SANDEEP SINGH                2
ADITYA SHARMA                2
MOHIT SINGH                  2
SATNAM SINGH                 2
DINESH KUMAR                 2
PRADEEP KUMAR                2
SHUBHAM SHARMA               2
NISHANT                      2
SHIVANSHU SHARMA             2
                            ..
SITENDER KUMAR JAJORIA       1
JASHAN DEEP SHARMA           1
BARJINDER SINGH              1
SHYAM BIBYAN                 1
VIKRAM PARTAP SINGH          1
SAGAR BIRHMAN                1
RAJESH THAKUR                1
RAHUL DOGRA                  1
BARUN KUMAR YADAV            1
SAHIL SAINI                  1
TUPHAIL JAWEED               1
AKSHAJ                       1
BRAHMJOT SINGH CHOPRA        1
NAVNEET SINGH SAINI          1
KRISHNENDU THAKUR            1
ASHOK KUMAR                  1
RAHUL DAGAR                  1
PRANAV THAKUR                1
ANKIT KUMAR                  1
ABHISHEK CHANDRA NAUTIYAL    1
MANZOOR AHMAD TANTRY         1
BARINDER SINGH               1
AADIL HUSSAIN LAWEY          1
GAGAN SHARMA                 1
PARDEEP KUMAR                1
RAHUL ARORA                  1
CHIRAG PRUTHI                1
RISHU KATNA                  1
PARAS SHARMA                 1
UMESH KUMAR SHARMA           1
Name: CandidateName, Length: 656, dtype: int64

In [32]:
df[df.CandidateName=='ANKIT KUMAR'].EmailId

36    ankitk50@gmail.com
Name: EmailId, dtype: object

In [33]:
df[df.CandidateName=='ANKIT KUMAR'].RollNo

36    TGC-125/101662
Name: RollNo, dtype: object

In [36]:
df[rollno=='TGC-125/101662'] #rollno=df.RollNo

,Ser No,RollNo,CandidateName,Reporting Date,EmailId,Remarks
36,37,TGC-125/101662,ANKIT KUMAR,03-03-2017,ankitk50@gmail.com,NaN