In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
#creating a series
s=pd.Series([1,2,5,np.nan,4,8])

In [6]:
s

0    1.0
1    2.0
2    5.0
3    NaN
4    4.0
5    8.0
dtype: float64

In [7]:
date=pd.date_range('20170810',periods=7)

In [10]:
date

DatetimeIndex(['2017-08-10', '2017-08-11', '2017-08-12', '2017-08-13',
               '2017-08-14', '2017-08-15', '2017-08-16'],
              dtype='datetime64[ns]', freq='D')

In [25]:
df=pd.DataFrame(np.random.randn(7,5),index=date, columns=list('ABCDE'))

In [26]:
df

                   A         B         C         D         E
2017-08-10 -0.921352  0.666604  2.041884 -0.334518 -0.668301
2017-08-11  0.339813  1.206670 -1.518777  1.420594  0.644696
2017-08-12 -0.586532 -0.738926 -2.012583  0.555280 -1.776053
2017-08-13  0.023078  1.550599  0.530515 -0.270770  1.376891
2017-08-14  0.338708  0.568376 -0.245413 -1.129384 -0.748232
2017-08-15 -0.840217  1.236068 -1.542707 -1.360066  0.247415
2017-08-16 -0.055317 -0.080471 -1.815254 -0.739254  1.173256

In [32]:
df2=pd.DataFrame({'A':1.,
                 'B':pd.Timestamp('20170811'),
                 'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                 'D':np.array([3]*4, dtype='int32'),
                 'E':pd.Categorical(["test","train","test","train"]),
                 'F':'foo'})

In [33]:
df2

     A          B    C  D      E    F
0  1.0 2017-08-11  1.0  3   test  foo
1  1.0 2017-08-11  1.0  3  train  foo
2  1.0 2017-08-11  1.0  3   test  foo
3  1.0 2017-08-11  1.0  3  train  foo

In [34]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [36]:
#viewing data
df.head() #first 5 values

                   A         B         C         D         E
2017-08-10 -0.921352  0.666604  2.041884 -0.334518 -0.668301
2017-08-11  0.339813  1.206670 -1.518777  1.420594  0.644696
2017-08-12 -0.586532 -0.738926 -2.012583  0.555280 -1.776053
2017-08-13  0.023078  1.550599  0.530515 -0.270770  1.376891
2017-08-14  0.338708  0.568376 -0.245413 -1.129384 -0.748232

In [37]:
df.tail(3)# last 3 values

                   A         B         C         D         E
2017-08-14  0.338708  0.568376 -0.245413 -1.129384 -0.748232
2017-08-15 -0.840217  1.236068 -1.542707 -1.360066  0.247415
2017-08-16 -0.055317 -0.080471 -1.815254 -0.739254  1.173256

In [38]:
df.index

DatetimeIndex(['2017-08-10', '2017-08-11', '2017-08-12', '2017-08-13',
               '2017-08-14', '2017-08-15', '2017-08-16'],
              dtype='datetime64[ns]', freq='D')

In [39]:
df.columns

Index([u'A', u'B', u'C', u'D', u'E'], dtype='object')

In [40]:
df.describe()

              A         B         C         D         E
count  7.000000  7.000000  7.000000  7.000000  7.000000
mean  -0.243117  0.629846 -0.651762 -0.265445  0.035667
std    0.535245  0.809448  1.503866  0.973841  1.147544
min   -0.921352 -0.738926 -2.012583 -1.360066 -1.776053
25%   -0.713375  0.243952 -1.678981 -0.934319 -0.708267
50%   -0.055317  0.666604 -1.518777 -0.334518  0.247415
75%    0.180893  1.221369  0.142551  0.142255  0.908976
max    0.339813  1.550599  2.041884  1.420594  1.376891

In [41]:
#transposing the data
df.T

,2017-08-10 00:00:00,2017-08-11 00:00:00,2017-08-12 00:00:00,2017-08-13 00:00:00,2017-08-14 00:00:00,2017-08-15 00:00:00,2017-08-16 00:00:00
A,-0.921352,0.339813,-0.586532,0.023078,0.338708,-0.840217,-0.055317
B,0.666604,1.206670,-0.738926,1.550599,0.568376,1.236068,-0.080471
C,2.041884,-1.518777,-2.012583,0.530515,-0.245413,-1.542707,-1.815254
D,-0.334518,1.420594,0.555280,-0.270770,-1.129384,-1.360066,-0.739254
E,-0.668301,0.644696,-1.776053,1.376891,-0.748232,0.247415,1.173256

In [45]:
df.sort_index(axis=1, ascending=False)#sort along axis 1/0

                   E         D         C         B         A
2017-08-10 -0.668301 -0.334518  2.041884  0.666604 -0.921352
2017-08-11  0.644696  1.420594 -1.518777  1.206670  0.339813
2017-08-12 -1.776053  0.555280 -2.012583 -0.738926 -0.586532
2017-08-13  1.376891 -0.270770  0.530515  1.550599  0.023078
2017-08-14 -0.748232 -1.129384 -0.245413  0.568376  0.338708
2017-08-15  0.247415 -1.360066 -1.542707  1.236068 -0.840217
2017-08-16  1.173256 -0.739254 -1.815254 -0.080471 -0.055317

In [46]:
df.sort_values(by='B')

                   A         B         C         D         E
2017-08-12 -0.586532 -0.738926 -2.012583  0.555280 -1.776053
2017-08-16 -0.055317 -0.080471 -1.815254 -0.739254  1.173256
2017-08-14  0.338708  0.568376 -0.245413 -1.129384 -0.748232
2017-08-10 -0.921352  0.666604  2.041884 -0.334518 -0.668301
2017-08-11  0.339813  1.206670 -1.518777  1.420594  0.644696
2017-08-15 -0.840217  1.236068 -1.542707 -1.360066  0.247415
2017-08-13  0.023078  1.550599  0.530515 -0.270770  1.376891

In [47]:
df['A'] #slicing techniques

2017-08-10   -0.921352
2017-08-11    0.339813
2017-08-12   -0.586532
2017-08-13    0.023078
2017-08-14    0.338708
2017-08-15   -0.840217
2017-08-16   -0.055317
Freq: D, Name: A, dtype: float64

In [48]:
df[0:3]

                   A         B         C         D         E
2017-08-10 -0.921352  0.666604  2.041884 -0.334518 -0.668301
2017-08-11  0.339813  1.206670 -1.518777  1.420594  0.644696
2017-08-12 -0.586532 -0.738926 -2.012583  0.555280 -1.776053

In [49]:
df.loc[date[0]]#select by label

A   -0.921352
B    0.666604
C    2.041884
D   -0.334518
E   -0.668301
Name: 2017-08-10 00:00:00, dtype: float64

In [50]:
df.loc[:,['A','B','C']]

                   A         B         C
2017-08-10 -0.921352  0.666604  2.041884
2017-08-11  0.339813  1.206670 -1.518777
2017-08-12 -0.586532 -0.738926 -2.012583
2017-08-13  0.023078  1.550599  0.530515
2017-08-14  0.338708  0.568376 -0.245413
2017-08-15 -0.840217  1.236068 -1.542707
2017-08-16 -0.055317 -0.080471 -1.815254

In [57]:
df.loc['20170810',['A','B']]

A   -0.921352
B    0.666604
Name: 2017-08-10 00:00:00, dtype: float64

In [58]:
df.loc[date[0],'A']

-0.92135231732105294

In [59]:
df.at[date[2],'B']

-0.73892579313039641

In [60]:
#select by position
df.iloc[1:3,1:3]

                   B         C
2017-08-11  1.206670 -1.518777
2017-08-12 -0.738926 -2.012583

In [61]:
df.iloc[1,2]#getting value explicitly

-1.5187766373771934

In [63]:
df.iat[1,2]

-1.5187766373771934

In [67]:
# setting values by label
df.at[date[0],'B']=0
df.iat[0,1]

0.0

In [71]:
df.iat[0,2]=np.nan
df.at[date[0],'C']

nan

In [72]:
df

                   A         B         C         D         E
2017-08-10 -0.921352  0.000000       NaN -0.334518 -0.668301
2017-08-11  0.339813  1.206670 -1.518777  1.420594  0.644696
2017-08-12 -0.586532 -0.738926 -2.012583  0.555280 -1.776053
2017-08-13  0.023078  1.550599  0.530515 -0.270770  1.376891
2017-08-14  0.338708  0.568376 -0.245413 -1.129384 -0.748232
2017-08-15 -0.840217  1.236068 -1.542707 -1.360066  0.247415
2017-08-16 -0.055317 -0.080471 -1.815254 -0.739254  1.173256

In [73]:
pd.isnull(df)#check missing values

                A      B      C      D      E
2017-08-10  False  False   True  False  False
2017-08-11  False  False  False  False  False
2017-08-12  False  False  False  False  False
2017-08-13  False  False  False  False  False
2017-08-14  False  False  False  False  False
2017-08-15  False  False  False  False  False
2017-08-16  False  False  False  False  False

In [74]:
df[df.A>0]

                   A         B         C         D         E
2017-08-11  0.339813  1.206670 -1.518777  1.420594  0.644696
2017-08-13  0.023078  1.550599  0.530515 -0.270770  1.376891
2017-08-14  0.338708  0.568376 -0.245413 -1.129384 -0.748232

In [75]:
df[df>0]

                   A         B         C         D         E
2017-08-10       NaN       NaN       NaN       NaN       NaN
2017-08-11  0.339813  1.206670       NaN  1.420594  0.644696
2017-08-12       NaN       NaN       NaN  0.555280       NaN
2017-08-13  0.023078  1.550599  0.530515       NaN  1.376891
2017-08-14  0.338708  0.568376       NaN       NaN       NaN
2017-08-15       NaN  1.236068       NaN       NaN  0.247415
2017-08-16       NaN       NaN       NaN       NaN  1.173256

In [76]:
pd.isnull(df.iat[0,0])

False

# Statistics

In [77]:
df.mean()

A   -0.243117
B    0.534616
C   -1.100703
D   -0.265445
E    0.035667
dtype: float64

In [79]:
df.mean(1)# along different axis i.e. 0/1

2017-08-10   -0.481043
2017-08-11    0.418599
2017-08-12   -0.911763
2017-08-13    0.642063
2017-08-14   -0.243189
2017-08-15   -0.451901
2017-08-16   -0.303408
Freq: D, dtype: float64